* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html {
    font-size: 62.5%;
}

nav {
    background-color: #fca311;
}

nav ul li{
    display: inline-block;
}

/* Para el logo. */
nav ul li img {
    display: inline-block;
    margin-bottom: -39px;
    margin-right: -2.5px;
    width: 90px;
}

.logo {
    background-color: whitesmoke;
}

.logo:hover {
    cursor: url(./images/bola-zen.png), pointer;
}

/* Opc del navegador. */
.nav-opc {
    text-decoration: none;
    font-size: 1.8rem;
    color: #07070a;
    font-family: monospace;
    font-style: oblique;
    font-weight: 500;
    padding: 20px;
    padding-top: 34px;
    padding-bottom: 34px;
    margin-right: -3px;
}

.nav-opc:hover {
    cursor: url(./images/bola-zen.png), pointer;
    background-color: whitesmoke;
}

.nav-opc:active {
    cursor: url(./images/bola-zen.png), pointer;
    background-color: #07070a;
    color: #fca311;
}

/*PORTADA*/
main {
    display: flex;
}

.portada {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80vw;
    height: 85vh;
}
.portada img {
    width: 85vw;
    height: 85vh;
}

.portada h1 {
    display: flex;
    position: absolute;
    font-family:sans-serif;
    -webkit-text-stroke: 2px #07070a;
    -webkit-text-fill-color: #fca311;
    font-size: 9.5rem;
    top: 40%;
    backdrop-filter: blur(1.5px);
}

.portada h2 {
    display: flex;
    position: absolute;
    font-family:sans-serif;
    -webkit-text-stroke: 1.5px #07070a;
    -webkit-text-fill-color: #fca311;
    font-size: 5rem;
    top: 51.5%;
    backdrop-filter: blur(1.5px);
}

/*SIDEBAR*/
.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20vw;
    height: 85vh;
    background-color: whitesmoke;
}

.sidebar .sidebar-img{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.sidebar .sidebar-img img{
    width: 98%;
    border-radius: 20px;
    border: 2px #fca311 inset;
}

.sidebar .sidebar-img h2 {
    position: absolute;
    font-family: serif;
    font-size: 4rem;
    -webkit-text-stroke: 0.5px #07070a;
    -webkit-text-fill-color: greenyellow;  
}

.sidebar .sidebar-img h3 {
    position: absolute;
    font-family: serif;
    font-size: 6rem;
    -webkit-text-stroke: 0.5px #07070a;
    -webkit-text-fill-color: greenyellow;  
    top: 22%;
    left: 37%;
}

/* FOOTER */
footer{
    display: flex;
}

.contacto {
    display: flex;
    align-items: center;
    width: 50vw;
    height: 5.68vh;
    background-color: grey;
}

.contacto img {
    padding-left: 10px;
    width: 40px;
}

.contacto a{
    margin-left: 5px;
    font-size: 1.6rem;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;    
}

.contacto a:hover{
    color: #fca311;
}

.redes {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
    height: 5.68vh;
    background-color: grey;
}

.redes div{
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.redes div img{
    width: 45%;
}

.redes .ig img{
    width: 42%;
    margin-top: -2px;
}

.redes div a{
    font-size: 1.2rem;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 5px;
}

.redes div a:hover{
    color: #fca311;
}