* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html {
    font-size: 62.5%;
    background-color: #212529;
}

/* Contenio HEADER */
header {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #212529;
    margin-bottom: 8px;
    /* border: 1px red solid; */
}

.logo {
    display: flex;
    width: 10%;
    background-color: #edf6f9;
    border-radius: 5px;
    margin-bottom: 2px;
}

.logo img {
    width: 100%;
}

.box-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #edf6f9;
}

.opc-nav {
    padding: 4px 0;
}

.opc-nav a{
    text-decoration: none;
    font-family: 'STIX Two Text', serif;
    font-size: 0.9rem;
    color: #212529;
    padding: 6px 5px 5px 4px;
}

.opc-nav a:hover {
    background-color: #ffb703;
    border-radius: 8px 1px;
}

.opc-nav a:active {
    color: #edf6f9;
}
    
/* Contenido MAIN */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.portada {
    position: relative;
    width: 100%;
    height: 100%;
}

.portada picture img {
    width: 100%;
}

.portada h1 {
    position: absolute;
    top: 60%;
    font-size: 1.9rem;
    color: #ffb703;
    -webkit-text-stroke: .5px #212529;
    background-color: #edf6f9;
    border-radius: 5px;
    padding: 5px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: #d4a373;
    border-radius: 10px;
    margin-top: 4px;
}

.opc-sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding-bottom: 5px;
}

.opc-special {
    border-bottom: 2px #212529 solid;
}

.opc-sidebar picture {
    display: flex;
    width: 60%;
    border: 1px greenyellow solid;
}

.opc-sidebar picture img {
    width: 100%;
}

.opc-sidebar h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    font-style: oblique;
    color: #edf6f9;
    -webkit-text-stroke: .1px #212529;
    flex-grow: 1;
    padding: 8px;
}

/* Contenido FOOTER */
footer {
    display: flex;
    width: 100%;
    margin-top: 5px;
}

.contact {
    display: flex;
    align-items: center;
    width: 51%;
    background-color: #edf6f9;
}

.contact picture {
    padding-top: 2px;
    padding-right: 2px;
    width: 10%;
}

.contact picture img{
    width: 100%;
}

.redes {
    display: flex;
    align-items: center;
    background-color: #edf6f9;
    width: 50%;
}

.redes .facebook {
    width:8%;
}

.redes picture {
    width: 7%;
}


.redes picture img {
    width: 100%;
}

.redes a{
    font-size: 0.8rem;
    margin-right: 10px;
    margin-left: 2px;
}

.redes a:hover {
    color: #ffb703;
}
